{% extends 'basic.html' %}
{% load widget_tweaks %}

{% block title %}URL shortener - Сокращатель ссылок - Изменение{% endblock %}}

{% block content %}
    <div class="box">
    <h4 class="text-center mt-2">Измените полную или короткую ссылку</h4>
        <form method="post" class="mx-auto">{% csrf_token %}
            {% if form.errors.full %}
                {% render_field form.full class+="form-control is-invalid" placeholder="Укажи полный адрес" %}
                {% for error in form.errors.full %}
                   <p class="invalid-feedback mb-0 mt-0">{{ error }}</p>
                {% endfor %}
            {% else %}
            {% render_field form.full class+="form-control mb-2" placeholder="Укажи полный адрес" %}
            {% endif %}
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ SITE_HOST }}/</div>
                    </div>
                    {% if form.errors.slug %}
                        {% render_field form.slug class+="form-control is-invalid" placeholder="Укажи желаемый адрес" %}
                        {% for error in form.errors.slug %}
                            <p class="invalid-feedback mb-0 mt-0">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {% render_field form.slug class+="form-control" placeholder="Укажи желаемый адрес" %}
                    {% endif %}
                </div>
                <div class="mb-2">
                    {% render_field form.tags class+="custom-select" %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-2">Изменить</button>
                </div>
        </form>
        <!-- <form method="post" class="mx-auto">{% csrf_token %}
        {% render_field form.full class+="form-control mb-2" placeholder="Полная ссылка" %}
        {% render_field form.slug class+="form-control mb-2" placeholder="Сокращённая ссылка" %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-2">Изменить</button>
        </div>
        </form> -->
    </div>

{% endblock %}