{% extends 'basic.html' %}
{% load widget_tweaks %}

{% block title %}URL shortener - Сокращатель ссылок - Создание тэга{% endblock %}}

{% block content %}
    <div class="box">
        <h4 class="text-center mt-2">Укажи новый тэг</h4>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% if form.errors.title %}
                {% render_field form.title class+="form-control is-invalid" placeholder="Укажи название тэга" %}
                {% for error in form.errors.title %}
                    <p class="invalid-feedback mb-0 mt-0">{{ error }}</p>
                {% endfor %}
            {% else %}
                {% render_field form.title class+="form-control mb-2" placeholder="Укажи название тэга" %}
            {% endif %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary mb-2">Создать</button>
            </div>
        </form>
    </div>
{% endblock %}