{% extends 'basic.html' %}
{% block content %}
    <div class="box">
        <div id="chat-log-div" style="overflow: auto; display: inline-block; height: 30em;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur esse facilis ipsum laborum numquam odio perspiciatis quis, quod ratione suscipit, totam. Deserunt impedit iure nam nisi odit quaerat tempore.
        </div>
        <input id="chat-message-input-div" type="text" size="50"><br>
        <input id="chat-message-submit-div" type="button" value="Send">
    </div>
<hr>
<hr>
<textarea id="chat-log" cols="100" rows="10"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ chat_id|json_script:"chat-id" }}
{{ chat_user|json_script:"chat-user" }}
<script>
    window.onload = req;

    let messages = null;
    let my_div = newDiv = null;

    async function req() {
        const response = await fetch('http://127.0.0.1:8000/chat/1/history/', {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            credentials: 'include', // include, *same-origin, omit
        });
        messages = await response.json();
        addElement(messages)
    }

    addElement(messages)

    const chatId = JSON.parse(document.getElementById('chat-id').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + chatId
        + '/'
    );



    function addElement(messages) {
        console.log(messages)
        for (let message in messages) {
            let newDiv = document.createElement("div");
            newDiv.setAttribute('id', message)
            newDiv.innerHTML = "<h1>Привет!</h1>";
        }


        newDiv.innerHTML = "<h1>Привет!</h1>";

    my_div = document.getElementById("chat-log");
    document.body.insertBefore(newDiv, my_div);
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        //console.log(data);
        let x = JSON.parse(data.message);
        //console.log(typeof x)
        if (data.previous_message) {
            for (const message in data.previous_message) {

            }
        };

        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock %}