{% extends 'basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Профиль - Изменение данных{% endblock %}

{% block content %}
    <div class="box">
        <h4 class="text-center mt-2">Укажите новые данные</h4>
        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя</label>
                {% if form.username.errors %}
                    {% render_field form.username class="form-control is-invalid" placeholder="Укажи имя пользователя" %}
                    {% for error in form.username.errors %}
                        <p class="invalid-feedback mb-0">{{ error }}</p>
                    {% endfor %}
                {% else %}
                {% render_field form.username class="form-control" placeholder="Укажи имя пользователя" %}
                {% endif %}
                <small id="username_help" class="form-text text-muted">Обязательно к заполнению. 150 символов или меньше. Только буквы, цифры и @ /. / + / - / _.</small>
            </div>
            <div class="form-group">
                <label for="id_email">Адрес электронной почты</label>
                {% render_field form.email class="form-control mb-2" placeholder="Укажи адрес электронной почты" %}
            </div>
            <div class="form-group">
                <label for="id_first_name">Имя</label>
                {% render_field form.first_name class="form-control mb-2" placeholder="Укажи имя" %}
            </div>
            <div class="form-group">
                <label for="id_last_name">Фамилия</label>
                {% render_field form.last_name class="form-control mb-2" placeholder="Укажи фамилию" %}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <hr>
        <p>Вы также можете <a href="{% url 'change_password' %}">изменить пароль</a> или <a class="text-danger" href="{% url 'delete_account' %}">удалить учётную запись</a></p>
        
    </div>
{% endblock %}