{% extends 'basic.html' %}

{% load widget_tweaks %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="box">
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_old_password">Старый пароль</label>
            {% if form.old_password.errors %}
                {% render_field form.old_password class="form-control is-invalid" placeholder="Укажи старый пароль" %}
                {% for error in form.old_password.errors %}
                    <p class="invalid-feedback mb-0">{{ error }}</p>
                {% endfor %}
            {% else %}
            {% render_field form.old_password class="form-control" placeholder="Укажи старый пароль" %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_new_password1">Новый пароль</label>
            {% render_field form.new_password1 class="form-control" placeholder="Укажи новый пароль" %}
        </div>
        <div class="form-group">
            <label for="id_new_password2">Повторите новый пароль</label>
            {% if form.new_password2.errors %}
                {% render_field form.new_password2 class="form-control is-invalid" placeholder="Укажи новый пароль" %}
                {% for error in form.new_password2.errors %}
                    <p class="invalid-feedback mb-0">{{ error }}</p>
                {% endfor %}
            {% else %}
            {% render_field form.new_password2 class="form-control mb-2" placeholder="Повтори новый пароль" %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Сменить пароль</button>
    </form>
</div>
{% endblock %}