{% extends 'basic.html' %}
{% load widget_tweaks %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="box">
    <h4 class="text-center mt-2">Сброс пароля</h4>
    <form method="post" class="mx-auto">{% csrf_token %}
        {% if form.errors.email %}
            {% render_field form.email class="form-control is-invalid" placeholder="Укажи адрес электронной почты" %}
            {% for error in form.errors.email %}
                <p class="invalid-feedback mb-0">{{ error }}</p>
            {% endfor %}
        {% else %}
            {% render_field form.email class="form-control mb-2" placeholder="Укажи адрес электронной почты" %}
        {% endif %}
    <button type="submit" class="btn btn-primary mb-2">Сбросить</button>
    </form>
</div>
{% endblock %}